<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xpzheng.blog.mapper.TagMapper">

    <resultMap id="tagMapper" type="Tag">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="theme" property="theme"></result>
        <result column="deleted" property="deleted"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="gmt_modify" property="gmtModify"></result>
    </resultMap>

    <sql id="cols">
        id, name, theme, deleted, gmt_create, gmt_modify
    </sql>

    <sql id="noIdCols">
        name, theme, deleted, gmt_create, gmt_modify
    </sql>
    
    <insert id="insert" parameterType="Tag">
        <selectKey keyColumn="id" keyProperty="id"></selectKey>
        insert into t_tag (<include refid="noIdCols"></include>)
        values (#{name}, #{theme}, #{deleted}, #{gmtCreate}, #{gmtModify})
    </insert>

    <update id="update" parameterType="Tag">
        update t_tag
        set name = #{name}, theme = #{theme}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        delete from t_tag
        where id = #{id}
    </delete>

    <select id="selectById" resultMap="tagMapper" parameterType="long">
        select <include refid="cols"></include>
        from t_tag
        where id = #{id}
    </select>

    <select id="select" resultMap="tagMapper" parameterType="Tag">
        select <include refid="cols"></include>
        from t_tag
        <where>
            <if test="name != null">name = #{name}</if>
        </where>
    </select>

</mapper>